<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL8gqF8DVeVhBguAfqJB4UGi51mFxTvMw</string>
	<key>GCM_SENDER_ID</key>
	<string>824091918512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pasca</string>
	<key>PROJECT_ID</key>
	<string>pasca-ios-and-android-dc988</string>
	<key>STORAGE_BUCKET</key>
	<string>pasca-ios-and-android-dc988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824091918512:ios:4ace7276b85a73aa267b75</string>
</dict>
</plist>